<div class="cakes">
  <p-dataView
    [value]="cakes"
    [paginator]="true"
    [rows]="6"
    [loading]="cakes.length === 0"
  >
    <ng-template let-cake pTemplate="listItem">
      <app-cake
        [cake]="cake"
        (displayCake)="showCake.showDialog(cake)"
      ></app-cake>
    </ng-template>
    <ng-template let-cake pTemplate="gridItem"> </ng-template>
  </p-dataView>
</div>

<small *ngIf="httpError" class="p-error">Proxy error.</small>

<app-enter-cake (entered)="cakeEntered($event)"></app-enter-cake>
<app-show-cake #showCake></app-show-cake>
