.cake {
  width: 300px;
  padding: 2rem;
}

.cake-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.cake-comment {
    margin: 0 0 1rem 0;
}

img {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 2rem;
  height: 90px;
}
